@model IEnumerable<EntityLayer.Concrete.Author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    @*<link rel="stylesheet" href="~/admin2/admin3/plugins/fontawesome-free/css/all.min.css">*@
    @*<link rel="stylesheet" href="~/admin2/admin3/dist/css/adminlte.min.css">*@
</head>
<body class="hold-transition sidebar-mini">
    <div class="col-md-12">
        <section class="content">
            <div class="panel panel-body">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            @foreach (var item in Model)
                            {
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle" height="150" width="150" src="@item.Image">
                                </div>
                                <br />
                                <h3 class="profile-username text-center" style="color:#000000">@item.Name</h3>

                                <p class="text-muted text-center" style="color:#000000">
                                    @item.AuthorTitle
                                </p>
                                <br />
                                @Html.Action("AuthorInfo")
                            }
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                @Html.Action("PartialUserInfo", "User")
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
                <!-- /.row -->
            </div>
        </section>
        <!-- /.content -->

    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="~/admin2/admin3/plugins/jquery/jquery.min.js"></script>*@
    <!-- Bootstrap 4 -->
    <script src="~/admin2/admin3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin2/admin3/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/admin2/admin3/dist/js/demo.js"></script>
</body>
</html>
